.content {
  /* background: url("https://wallpapers.com/images/hd/crossfit-tire-gym-workout-surhzk8bpxr5ju1g.jpg"); */
  /* background-image: url("https://gym-website-13y6.onrender.com/images/wall1.jpg"); */
  /* background-image: url("https://c4.wallpaperflare.com/wallpaper/120/745/199/look-girl-pose-sport-wallpaper-preview.jpg"); */
  background-image: url("https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg");
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.live {
  color: red;
}

.para {
  margin-left: 3rem;
  color: white;
  position: relative;
  top: 19rem;
  left: 11rem;
}
.btn{
    background-color: red;
    color: whitesmoke;
    height: 5vh;
    width: 7vw;
    border-radius: 3rem;
    border: none;
    margin-top: 3rem;
    font-size: 0.9rem;
}